:root{
    --button-color: #8ae6d3;
    --mint-lighter: #79ffce;
    --darker-section: #27292c;
    --lighter-section: #33373f;
    --grey-font: #b4b4b4;
    --shadow-color: #8ae6d3;
    --linear-gradient:linear-gradient(60deg,  #1c1d20 0%,  #2a2f36 100%);
}




/*#25ccf7*/

body{
    font-family: 'Barlow', sans-serif;
    margin:0;
    
    
}

body::-webkit-scrollbar {
    display: none;
}

.container-fluid{
    padding: 0% 15% 7%;
}

.btn:hover{
    box-shadow: 0 0 4px var(--shadow-color);;
}

.btn-mint{
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    color:var(--lighter-section);
}


.btn-mint:hover{
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
    color:var(--lighter-section);
}


.btn-outline-mint{
    color:var(--button-color);
    border-color: var(--button-color);
}

.btn-outline-mint:hover{
    color:#fff;
    border-color: #fff;
}

.btn-gradient{
    color:#fff;
    background-image: var(--linear-gradient);
}

.btn-gradient:hover{
    color:#fff;
    background-image: linear-gradient(60deg,  #414552 0%,  #4a5666 100%);
    
}



.feature-title{
    padding-top:7%;
    padding-left: 16.25%;
    padding-bottom: 3%;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 1px;
    color:#fff;
}


@media (max-width:990px){
    #title {
        text-align: center;
    }
    #title img{
        width:500px;
    }
}



/*title*/

.btn-back-to-top{
    border-radius: 100%;
    border-color: transparent;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    opacity: 0.5;
    color: var(--darker-section);
    width:50px;
    height:50px;
    position:fixed;
    bottom:100px;
    right:50px;
    transition: 0.1s all ease-in-out;
    display: none;
    z-index: 1;

}

.btn-back-to-top:hover{
    box-shadow: 0 0 4px var(--shadow-color);
    opacity: 1;
    
}


#title {
    color: #fff;
    background-image: var(--linear-gradient);
    background-size: cover;
    background-attachment: fixed;
    
}

#title .container-fluid{
    padding: 3% 15% 3%;
}



/*navbar*/
.navbar{
    padding-bottom: 1.5rem;
}

.navbar-brand{
    font-family: 'Questrial', sans-serif;
    font-size: 1.8rem;
    font-weight: 200;
}

.nav-item{
    padding: 0 15px;
}

.nav-link{
    font-size: 1.1rem;
    font-weight: 200;
    letter-spacing: 1px;
}



#title h1{
    padding-top:200px;
    font-size: 3.3rem;
    line-height: 1.4;
    font-weight: 400;
    letter-spacing: 4px;
}

#title h5{
    padding-top:4px;
    padding-left:2.6px;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 100;
    letter-spacing: 4px;
}


#iPhone12{
    width: 340px;
    margin-left: 80px;
    transform: rotate(15deg);
}

/*button*/
.download-button{
    margin: 5% 3% 5% 0;
    font-family: 'Questrial', sans-serif;
    font-size: 1.2rem;
}

#title .download-button{
    margin-left: 4px;
}


/*feature*/

#features{
    background-color: var(--lighter-section);
    color: #fff;
}



.icon{
    font-size: 4rem;
    color: var(--grey-font);
}

.icon-lit{
    color: #fff;
    text-shadow: 0 0 4px var(--shadow-color);
    -webkit-transition:0.4s;
    -moz-transition:0.4s;
    -ms-transition:0.4s;
    -o-transition:0.4s;
    transition:0.4s;
}


.genre{
    font-weight: 500;
    color: var(--mint-lighter);
}

.genre-description{
    margin-top: 20px;
    font-weight: 300;
    color: var(--grey-font);
    line-height: 1.5;
    font-size: 1rem;
}

.feature-box{
    padding: 3%;
    border-radius: 2%;
}

.feature-box-bg{
    background-color: var(--darker-section);
    box-shadow: 0 0 20px var(--shadow-color);
    -webkit-transition:0.4s;
    -moz-transition:0.4s;
    -ms-transition:0.4s;
    -o-transition:0.4s;
    transition:0.4s;
}


/*carousel*/

#tracks{
    background-image: var(--linear-gradient);
    color: var(--grey-font);

}

#tracks .container-fluid{
    padding: 3% 15%;
}

.carousel-inner{
    height: 400px;
}



.control-button{
    padding-bottom: 8%;
}

.albumcover{
    width: 250px;
    padding-left:18px;
}

.album-name{
    font-weight: 500;
    color:var(--mint-lighter);
    padding-left: 12px; 
}

.singer-name{
    font-weight:300;
    color: #fff;
    padding-left: 12px; 
    padding-bottom: 10px;
}


@media (max-width:990px){
    .carousel-inner{
        height: 600px;
        text-align: center;
    }
    .album-name{
        padding-left:0;
        padding-top: 20px;
        text-align: center;
    }
    .singer-name{
        padding-left:0;
        text-align: center;
    }
    .playlist{
        padding:0 20% 0 30%;
    }
    #tracks .feature-title{
        padding-top:20%;
        padding-left: 0;
        text-align: center;
    }
    .albumcover{
        padding-left:0;
        text-align: center;
    }
}



.playlist{
    font-weight: 300;
    line-height: 1.5;
    font-size: 1rem;
}



/*event*/
#event{
    background-color: var(--lighter-section); 
    color:var(--grey-font);
    
    
}

.read-more{
    font-family:'Questrial', sans-serif;
    font-weight: 300;
}


#event .read-more:hover{
    font-family: 'Questrial', sans-serif;
    background-color: #fff;
    color:var(--darker-section);
    font-weight:500;
    border-color: none;
}

.card{
    background-color: var(--darker-section); 
    font-family: 'Barlow', sans-serif;
    
}

.card-img-top{
    overflow: hidden;
}
.card-footer{
    background-color: var(--darker-section);
}
.my-container{
    margin:0;
    padding:0;
    
}
.card img {
    width: 100%;
    transition: 0.3s all ease-in-out;
    
}

.card:hover img {
    transform: scale(1.5);
    max-width: 100%;
}

.card-title{
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1.3rem;
    color:var(--mint-lighter);
}
.card-text{
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 1.5;
}

/*cta*/
#cta{
    background-image: url('images/4.jpg');
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

#cta .container-fluid{
    padding: 14%;
}

#cta .btn{
    box-shadow: none;
}

span.my-mark{
    border-right: 2px solid #fff;
    animation:blink 0.6s step-end infinite;
    -webkit-animation: blink 0.6s step-end infinite;
}

@keyframes blink{
    from,
    to{
        border-color: transparent;
    }
    50% {
        border-color: #fff;
    }
}

@-webkit-keyframes blink{
    from,
    to{
        border-color: transparent;
    }
    50% {
        border-color: #fff;
    }
}


#tune-in-today{
    font-weight: 400;
    color:#fff;
    font-size: 3rem;
    letter-spacing: 4px;
    padding:3% 0 0 0;
}

.bottom-button{
    margin:3% 1% 0%;
    font-family: 'Questrial', sans-serif;
    font-size: 1.2rem;
}


/*footer*/

#footer{
    background-color: var(--lighter-section);
    text-align: center;
}

#footer .container-fluid{
    padding: 3% 15% 2%;
}

.contact-icon{
    color:var(--grey-font);
    font-size: 1.2rem;
    padding: 2% 1% 2%;
}

.contact-icon:hover{
    color: #fff;
    text-shadow: 0 0 4px var(--shadow-color);
}

#copyright{
    color:var(--grey-font);
    font-weight: 300;
    font-size: 0.75rem;
}